<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlJUqypiTQyzzgTX8acuEB8J-t1xnu9kM</string>
	<key>GCM_SENDER_ID</key>
	<string>268688834019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>clc.FireBaseNotes-Kaiser</string>
	<key>PROJECT_ID</key>
	<string>letsgetlitpony</string>
	<key>STORAGE_BUCKET</key>
	<string>letsgetlitpony.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268688834019:ios:f0d380d4f113747b5af4d6</string>
</dict>
</plist>